[2015-07-02 23:26] bkniffler opened #1 "self not defined - refactor for server side rendering"
Hi,
I'm getting "self not defined" on line 1194 in index.js of rethinkdb-websocket-client module, the line:

var method = self[methodName];

[2015-07-03 04:22] mikemintz commented on #1
Hi @bkniffler,

What browser are you using? How are you building your javascript files for the browser (e.g. npm and webpack)?

[2015-07-03 04:26] mikemintz commented on #1
Or are you running in node.js instead of browser? It looks like self is only available in the browser, so there's still some work to be done to get this to run in node.js

[2015-07-03 07:56] bkniffler commented on #1
Hey, sorry for not giving loads of infos, it was just a quick, late try.

So, I build my app isomorphically, the components being rendered server-side using require('babel/register') and React.renderToString(). Like here for example: https://github.com/iam4x/isomorphic-flux-boilerplate

The issue appears within node, not the browser, so I guess you are right.

[2015-07-03 08:26] bkniffler commented on #1
I guess this is the wrong place for this issue, I'll reopen this in the client library.

[2015-07-03 08:26] #1 closed

[2015-07-04 10:22] mikemintz commented on #1
Implemented in https://github.com/mikemintz/react-rethinkdb/pull/2

This will be in 0.2.0

[2015-07-04 10:43] mikemintz commented on #1
I wasn't able to easily integrate with flux in isomorphic-flux-boilerplate to register when the queries were complete. But if you can figure out how to set up the `alt.resolve` to wait for rethinkSession.onceDoneLoading then hopefully it should just work.

I did made an example isomorphic app without flux here that actually sort of works: https://github.com/mikemintz/react-rethinkdb/tree/master/ex

[2015-07-04 13:37] danesparza opened #3 "Security?"
I had considered doing something like this as well -- but stopped when I realized that the RethinkDB is entirely exposed when creating an app like this.  I couldn't think of a good way to lock down access to the database from people who wanted to insert / update information to their hearts content.

What are your thoughts on security?

[2015-07-04 14:47] bkniffler commented on #3
I think this is where @mikemintz other library rethinkdb-websocket-server comes in place, you should maybe look at the example app. As far as I understood, the websocket server forwards requests to RethinkDB, being able to validate posted data (check if userId of document corresponds to the auth tokens userId) and filter get data (filter by userId of documents).

Look at queryWhitelist within reth

[2015-07-04 19:24] mikemintz commented on #3
@bkniffler is exactly right. In production, all incoming queries will validated for security.

From [https://github.com/mikemintz/rethinkdb-websocket-server](rethinkdb-websocket-server)

There may be other approaches to securing queries we can look into, as proposed in https://github.com/mikemintz/rethinkdb-websocket-server/issues/1

[2015-07-06 06:21] mikemintz opened #4 "Support IE11"
I tried testing `examples/chat` in IE11 and got the error `Mixin in ChatBox does not have Session`.

Ideally this would work in IE10 and IE11 since they both support WebSockets.

[2015-07-08 16:13] mikemintz commented on #4
Fixed in https://github.com/mikemintz/react-rethinkdb/pull/5

[2015-07-08 16:19] #4 closed

[2015-07-13 01:44] #3 closed

[2015-07-22 06:38] mikemintz opened #6 "Normalize queries that contain anonymous functions"
Queries that contain anonymous functions cause issues with equality for sharing query results and for defining a query whitelist. This is because the numerical var ids increment each time the same query is generated in the RethinkDB driver. Let's normalize the var ids so that these queries are treated deterministically.

More details in this comment:
https://github.com/mikemintz/react-rethinkdb/bl

[2015-07-22 07:13] mikemintz commented on #6
Let's be careful not to break query reuse when we normalize queries. For example:

[code]

If the client uses all three queries in a component, then we'd normalize all of them. If we normalize by mutating the queries in-place, then q3 may have two var ids called 1. Ideally we'd only normalize for internal copies, but there doesn't seem to be an easy way to clone queries.

[2015-07-22 23:53] #6 closed

[2015-08-23 08:15] mikemintz opened #8 "Provide alternative to mixin"
Mixins don't work with React components written as ES6 classes.

Let's provide something that will work like a superclass, higher order component, or ES7 decorator.

[2015-08-23 17:12] robtg4 opened #9 "Provide Installation Instructions"
I know this is a novice issue but could you provide clear installation instructions into a react project? I would greatly appreciate that!

[2015-08-23 19:22] mikemintz commented on #9
Hi @robtg4,

Are you using [npm](https://www.npmjs.com/) with something like [browserify](http://browserify.org/) or [webpack](http://webpack.github.io/) to manage dependencies? If so, all you should have to do is run:

```$ npm install react-rethinkdb --save```

And then you can copy the example code into your project from the ["how do I use this"](https://github.com/mikemintz/react-rethinkdb#how

[2015-08-23 20:08] robtg4 commented on #9
Thanks for the quick response!

I think I was confused if I need to add the Web socket repo as well since
you mention using it within the description.

Also - what is the purpose of the observe function? Sorry for the novice
questions as I am still learning - I really appreciate your help and this
repo!
On Aug 23, 2015 2:22 PM, "Mike Mintz" <notifications@github.com> wrote:

[2015-08-23 20:34] mikemintz commented on #9
Oh that's a great point, react-rethinkdb is only for the client side, so you'd also need to set up a [rethinkdb-websocket-server](https://github.com/mikemintz/rethinkdb-websocket-server) to run on the server side. The projects in [`examples/`](https://github.com/mikemintz/react-rethinkdb/tree/master/examples) all illustrate that, so if you clone [`examples/chat/`](https://github.com/mikemintz/reac

[2015-08-24 08:30] mikemintz commented on #9
I just created a tutorial in #10, which I'll merge in soon. Let me know if this answers all of your questions for getting started, or if anything is still unclear.

[2015-08-25 05:17] #9 closed

[2015-08-25 06:42] robtg4 commented on #9
Thanks again!
On Aug 25, 2015 1:17 AM, "Mike Mintz" <notifications@github.com> wrote:

[2015-09-11 23:02] ortutay opened #11 "Getting "Buffer is not defined" error"
I am going through the tutorial and I hit an error when I try to connect to the local websocket server from my React Native app. The error is:

[code]

Some relevant code:

[code]

[2015-09-11 23:18] mikemintz commented on #11
I actually just tried to do this yesterday. I should have posted something about it. Try running this:

[code]

And then add this to the top of the first javascript file you run (like index.ios.js):
[code]

Also, I think you'll need to `require('react-rethinkdb/dist/node')` instead of `require('react-rethinkdb')` since it's not running in a browser environment.

However, after I did all that, I ra

[2015-09-12 01:06] ortutay commented on #11
That solves this issue, thanks.

I still wasn't able to get this to work in React Native though. It seems like rethinkdb requires a few node core modules ('net' and 'tls') which React Native doesn't provide. Haven't figured out how to get past that yet...

[2015-09-12 01:45] mikemintz commented on #11
Oh I think I know how to deal with those. I can try making a react native
distribution that stubs net and tls modules, and http too if that helps.
I'll try to get that by tomorrow, thanks for helping to test this!
On Sep 11, 2015 6:06 PM, "ortutay" <notifications@github.com> wrote:

[2015-09-12 02:16] ortutay commented on #11
Great, thanks!

[2015-09-12 03:20] mikemintz commented on #11
Actually I think it might be because the nodejs websocket library won't
work in react native. So I think it makes sense to use the original require
statement for the browser version of react-rethinkdb, and get
window,WebSocket defined using this polyfill:
https://github.com/facebook/react-native/pull/890

I'll try it tomorrow but if you want to try sooner you can see if that
polyfill works for you

[2015-09-12 05:07] mikemintz commented on #11
Unfortunately, I can't get the latest version of react-native to work easily, since it looks like it requires a newer xcode, which isn't available for os x 10.9.

Can you see if you can get the react-native websocket polyfill to work? You'll know it's working if you add `console.log('ws', window.WebSocket)` and it says something other than "ws undefined" in the xcode log.

And if that's working, t

[2015-09-12 05:44] mikemintz commented on #11
Okay I think I understand the issue. In addition to having to polyfill window.WebSocket, which is apparently supported via https://github.com/facebook/react-native/pull/890 , we have to replicate webpack's shims that it offers via https://github.com/webpack/node-libs-browser

I'm not sure what the best practice way of doing that is for react-native, and it looks like there's an open issue for it h

[2015-09-12 06:32] ortutay commented on #11
Does `react-rethinkdb` depend on the `rethinkdb` package? `rethinkdb` uses `net` and `tls` modules, which I think are not available in React Native.

Logging out Buffer via the workaround you provided seems to work and show something that looks correct, but using the same approach for `net` and `tls` gives undefined in both cases. I'll take a look at the solutions you linked above to see if it sol

[2015-09-12 07:35] mikemintz commented on #11
Yes, `react-rethinkdb` depends indirectly on `rethinkdb`. But if you use `require('react-rethinkdb')` instead of `require('react-rethinkdb/dist/node')` it will use a patched version that doesn't depend on `net` or `tls`. Which require are you using that gives you the `net` and `tls` errors?

The approach for `Buffer` works because you can override the `Buffer` global variable with plain javascript

[2015-09-23 00:10] mikemintz commented on #11
Currently on iOS, this is blocked on react-native ArrayBuffer support:
* https://github.com/facebook/react-native/issues/1424
* https://github.com/facebook/react-native/pull/1829

On android, this is blocked on react-native WebSocket support:
* https://github.com/facebook/react-native/issues/2837

When ArrayBuffers and WebSockets are working in react-native, react-rethinkdb should work with:

[cod

[2015-09-30 20:13] ilsken opened #12 "Can not install on Node v4"
See the issue [here](https://github.com/mikemintz/rethinkdb-websocket-client/pull/3)

[2015-10-01 01:42] mikemintz commented on #12
Thanks for reporting. Merged your PR in rethinkdb-websocket-client, and fixed in v0.4.1 here.

[2015-10-01 01:43] #12 closed

[2015-10-07 19:44] ide commented on #11
RN Android WebSockets are now in master. I don't think anyone has really stress-tested them if you want to give it a shot.

[2015-10-08 02:07] fbonetti opened #15 "Automatically reconnect and resync state after disconnection"
First of all, I'd just like to thank you for putting together this package. I've been looking for something like this for a while - a way to keep the UI perfectly in sync with the database, without having to mess around with Flux and async HTTP calls to keep the data consistent. React and Rethinkdb are a perfect match for this.

One issue that I noticed when testing the chat example is that the cl

[2015-10-11 03:15] mikemintz commented on #15
That's definitely an important feature we'll need, thank you for bringing it up. I don't have time to implement this now, but hopefully I will in the next week or two.

A naive implementation would modify [Session.connect()](https://github.com/mikemintz/react-rethinkdb/blob/709c07ca6a9c86eb2db11cc609b61a8749abdfd0/src/Session.js#L38-L45) and add this to the bottom:

[code]

This code has some issu

[2015-10-18 07:19] mikemintz commented on #15
@fbonetti I just created a PR for auto reconnect. I didn't address point 5 (queries outside of observe) or point 6 (fancy delay algorithms).

If you want to try it out before I merge it and let me know if it works for your use case, that would be quite helpful. Here are instructions for using the version from my branch:

[code]

And when you want to go back to normal:
[code]

[2015-11-02 00:52] #15 closed

[2015-11-02 06:39] gutenye opened #17 "Support ES6 import syntax"
[code]

Transpiled by babel, because of the [__esModule](https://github.com/esnext/es6-module-transpiler/issues/85) thing.

[2015-11-02 06:49] mikemintz commented on #17
Thanks for reporting, I'll take a look through that thread.

In the meantime, can you see if `import * as Rethinkdb from "react-rethinkdb"` works for you?

[2015-11-02 06:50] gutenye commented on #17
Great, that works :)

[2015-11-02 07:08] mikemintz commented on #17
Right now I'm only using ES6 named exports. I think I should probably address this with [3.3 Having both named exports and a default export in a module](http://www.2ality.com/2014/09/es6-modules-final.html):

[2015-11-02 07:23] gutenye commented on #17
A quick way to fix it by adding `module.exports.default` in `rethinkdb-websocket-client/dist/index.js`

[code]

But I'm not familiar with webpack, and have no idea how write it.

The other way around is don't use `export` in source code, use `modules.exports` instead.

[2015-11-04 07:13] #17 closed

[2015-11-04 21:41] YonasBerhe opened #19 "Webpack npm install error"
Hello,

I'm having trouble compiling the frontend of the application. I get the following error each time I run "npm install".

![screen shot 2015-11-04 at 1 39 35 pm](https://cloud.githubusercontent.com/assets/8443899/10952830/9813e6d2-82f9-11e5-80b0-74faf613ecb8.png)

[2015-11-04 23:24] mikemintz commented on #19
I suspect that's due to the latest version of babel requiring opt-in for react syntax. I'll update the tutorial to work with the newest version of babel.

[2015-11-04 23:41] mikemintz commented on #19
@YonasBerhe This is now resolved in https://github.com/mikemintz/react-rethinkdb/commit/ec77b63b2c1127529126d836e9ef9cb1939ecb4e. Could you see if it works for you now?

If you don't want to start over, run `npm install babel-preset-react --save-dev` and create the `./.babelrc` file specified in https://github.com/mikemintz/react-rethinkdb/tree/master/examples/tutorial#add-babel-config

[2015-11-06 07:53] #19 closed

[2015-11-12 01:44] mikemintz opened #20 "Use atomic changefeeds instead of extra non-realtime initial query"
Now that RethinkDB 2.2 has been released with [atomic changefeeds](https://github.com/rethinkdb/rethinkdb/blob/7a0c21d95c9e3b3fad5f4aea718d7c1b366863f2/NOTES.md), we can make our changefeed logic much simpler and more robust. See the TODO notes in [QueryState.js](https://github.com/mikemintz/react-rethinkdb/blob/9ecd0c698b51cb7668ccf79003052a66544970dd/src/QueryState.js#L33-L42).

This will probab

[2015-11-12 06:14] mikemintz commented on #20
I created PR https://github.com/mikemintz/react-rethinkdb/pull/21 with atomic changefeed functionality.

I'll test it thoroughly when rethinkdb 2.2 packages hit arch linux and npm, and probably upgrade rethinkdb-websocket-client first so we get the 2.2 driver too.

[2015-11-13 05:22] #20 closed

[2015-11-18 02:12] motebotic commented on #8
Did you ever solve this issue?

I am still too new to solve this myself, but I am going to try none the less using https://github.com/timbur/react-mixin-decorator

What are your thoughts?

[2015-11-18 03:28] mikemintz commented on #8
@motebotic That seems like a reasonable solution. Is that something you can use easily in your own project without requiring changes in `react-rethinkdb`? If you have to go through any hoops to get it working, it'd be great if you could write it up here so we can have it documented for other users.

I haven't yet decided how to provide an official alternative to mixin. One of the big downsides to

[2015-12-04 04:03] coffenbacher opened #22 "Flux / Redux integration"
Is there a pattern to integrate this with Flux and/or Redux?

I like how the proxy server and the client are in separate packages, but there seems to be a lot of useful logic around subscriptions in this package that is tightly coupled to the mixin (at least, I can't figure out how to trivially separate it).

Pulling this logic out and packaging it might be an easy solution to #8 - I don't need an

[2015-12-04 04:19] coffenbacher commented on #22
I realized I might be misinterpreting the division of labor here. Possibly I can just get away with using rethinkdb-websocket-client. I'll try that and report back...

[2015-12-04 06:23] coffenbacher commented on #22
Actually, integrating with Redux was very straightforward working directly from https://github.com/mikemintz/rethinkdb-websocket-client instead! Awesome!

I'm really surprised at the popularity difference between this package and the client - as far as I can tell this package doesn't work with React 0.14 yet (mixin issue) and that one is actually really straightforward and nice to use with Flux.

[2015-12-04 07:00] #22 closed

[2015-12-04 22:53] mikemintz commented on #22
@coffenbacher, yes I think using rethinkdb-websocket-client with redux probably makes the most sense. The react-rethinkdb project is more intended to be a sideways data loading model where components directly specify their data queries as opposed to a flux model. It needs to track react component lifecycle so it can share results across components and unsubscribe from changefeeds when unmounting.

[2015-12-07 01:23] coffenbacher commented on #22
Great! This helps to understand the plan, thanks.

The client works like a charm with Flux / Redux, I'll try to write up an example + tutorial at some point, because your work on the client is really excellent and is pretty cool when paired with Redux. Meteor-esque except for the latency compensation.

And yes, you're totally right about 0.14. All of our 0.14 projects use ES6, so I actually forgot

[2015-12-14 07:28] nireak opened #23 "Example with webpack-dev-server"
I'm new to webpack and websockets. Could you please, provide some example, or guidance, explaining the use of react-rethinkdb inside a webpack-dev-server (with hot reloading capabilities) ? Thank you very much.

[2015-12-15 13:02] JoeMattie opened #24 "Change query on componentDidUpdate"
I'm running into an issue using this with react-router where I'm having to navigate to a route twice to get the QueryRequest in the observe() function to fire.  I believe this is because react-router doesn't trigger an unmount/mount of the component between navigation.

I was hoping you could give me some guidance, as I'm totally stumped...

This is the component in question:
[code]

My router loo

[2015-12-15 13:55] JoeMattie commented on #24
After looking over the code a bit more, I figured out the issue was that I was using this.props.params.slug instead of props.params.slug inside of the observe() function.

[2015-12-15 13:55] #24 closed

[2015-12-15 19:11] mikemintz commented on #23
@nireak For setting up webpack, you can treat a react-rethinkdb project as any react project and use any example of hot loading. For example, here's something I use in a project with hot loading and react-rethinkdb. Let me know if that answers your question, or if there's still some confusion. You'll still need to run rethinkdb and the backend proxy separately.

webpack.config.js
[code]

gulpfile.

[2015-12-16 06:48] nireak commented on #23
@mikemintz Thank you very much for your answer. I thought websockets weren't well supported with webpack and that you needed some hacks to run them smoothly,. For instance setting a proxy directive like

[code]

Following your advice I have just used react-rethinkdb in my project... without problems. :) Thanks again.

[2016-01-07 22:08] fungilation commented on #11
Not much to add other than using ReactDB as backend for React Native is exactly what I'm looking for. Keep up with the experimentation!

[2016-01-25 18:59] #23 closed

[2016-01-29 03:02] khoerling opened #25 "Props & State vs. this.data"
Is there a reason why props & state aren't used for the QueryResults?  It seems to defeat the purpose of React's optimized render.

[2016-01-29 08:53] mikemintz commented on #25
I was mimicking the API in [ParseReact](https://github.com/ParsePlatform/ParseReact) when I went with `this.data`. But I agree it doesn't feel the cleanest.

It might be cleaner with higher order components like discussed in https://github.com/mikemintz/react-rethinkdb/issues/8 but that has its own downsides. I'm definitely open to any suggestions for a more appropriate model.

[2016-01-29 16:57] fungilation commented on #11
On iOS ArrayBuffer support in RN. Looks like it's been resolved and merged? https://github.com/facebook/react-native/pull/4483

[2016-01-29 23:19] mikemintz commented on #11
@fungilation Yes I think that's the case. I saw that merge and tested it on react-native for android but turns out it was only implemented for iOS. Has anyone been able to test since then with iOS?

[2016-01-29 23:30] fungilation commented on #11
I'll report after I setup my app and test, I have Mac and xcode

[2016-01-29 23:32] mikemintz commented on #11
Thanks! Let me know if you run into any issues, so far I've been able to work around everything other than "array buffer not supported on this platform"

[2016-02-05 02:21] xaviercobain88 commented on #11
Hi, It seems like there is no web socket implementation:

[code]

nothing is sent to server

https://github.com/facebook/react-native/blob/master/Libraries/WebSocket/WebSocket.js

[2016-02-07 05:22] mikemintz commented on #11
Interesting, I guess they implemented receiving ArrayBuffers but not sending.

I think the most practical way forward is to add support in rethinkdb-websocket-client and rethinkdb-websocket-server for base64 string websocket messages. It shouldn't replace binary as the default, but that would be great if it allows react-native to work. I'll look into that.

[2016-02-08 02:39] mikemintz commented on #11
I added a base64 option to rethinkdb-websocket-client and rethinkdb-websocket-server, which works fine in the browser.

Unfortunately, react-native android seems to [ignore WebSocket sub-protocols](https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/modules/websocket/WebSocketModule.java#L66). But when I hard-code both the client and server to use bas

[2016-02-08 04:55] mikemintz commented on #11
If you use the latest versions (react-rethinkdb 0.5.4 and rethinkdb-websocket-server 0.3.6), you should be able to use base64 websockets by specifying `wsProtocols: ['base64']` in `RethinkSession.connect()`.

@xaviercobain88 and @fungilation, could you see if this works for you with react-native for iOS?

[2016-02-11 12:21] Xrampino opened #26 "NPM missing dependency : webpack"
For the chat example, npm install fails because webpack is not installed

[2016-02-11 21:36] mikemintz commented on #26
@Xrampino can you share the error that you're getting?

I'm also getting an error with the latest version, due to a behavior-changing eslint patch, which I will fix today. But I'm not getting any errors about webpack not being installed.

[code]

[2016-02-11 22:26] khoerling opened #27 "Server-Side AuthTokens/Sessions"
Hey Mike!  For applications requiring social integration with FB/Twitter, etc... server-side auth token generation is needed.  What are your thoughts on either:

1.  Sending the authToken to the client on socket connection (less secure), which can be then used to filter rows per your examples.

2.  Extending server-side validations (so client needn't know its own auth token) to automatically filte

[2016-02-12 17:55] mikemintz commented on #27
@khoerling Could you elaborate and give a more specific example? I don't quite follow how it's possible for a client not to store any sort of authToken, or else how would the server confirm the client is logged in?

If you just mean ordinary authentication (not OAuth with a third-party provider), the [chat example app](https://github.com/mikemintz/react-rethinkdb/tree/master/examples/chat) shows h

[2016-02-12 21:39] khoerling commented on #27
Yes, the client will store a server-generated token.  This would be compatible with OAuth and many npms like express-cookie-session.  Rather than send that token to the client via an additional HTTP/GET request, would it be possible to send it over the websocket on connection?

It would be clean to have a backwards compatible way of pulling this off.  If the authToken is inside the sessionPromise,

[2016-02-13 23:26] mikemintz commented on #27
I think I see what you're getting at, but I'm still having trouble understanding the exact use case. Could you describe what you imagine the messages sent back and forth between client and server would look like, so I can better understand how it might fit in?

[2016-02-15 22:29] khoerling commented on #27
Absolutely and thank you for following:

1.  client connects to server, gets cookie'd session (eg. express-cookie-session)
2.  client rethink-websocket-client connects to server
3.  server immediately sends session (returned from sessionCreator) over the websocket (includes authToken)
4.  client makes rethinkdb queries using authToken

I sent a pull-request for a simple change to pass websocket he

[2016-02-16 07:12] mikemintz commented on #27
I get that people may want to use cookies instead of url params to pass the session key. I just made a couple comments on your PR, but otherwise good to merge.

I agree it's a bit tricky to send session data back to the client. I have some thoughts, but it's a lot of complexity which seems like it can be solved by just having the developer add a single ajax route that looks at the cookie and retur

[2016-02-16 16:53] khoerling commented on #27
Exactly-- userId would be best (or any bit of non-sensitive user-identifying data to start a session) and it'd be much faster to reuse the socket for sending that back to the client in a single shot on connection.  Do you think mimic'ing a ReQL query result on the way up to the client would be the best tactic?

Yes, mividtim's automatic filters precisely describe 2. above!

[2016-02-16 17:20] mikemintz commented on #27
I think the cleanest way to reuse the socket to send back information would be having before-execute query callbacks like in https://github.com/mikemintz/rethinkdb-websocket-server/issues/2 and also add support for sending back "fake" query results.

For example, here's some pseudo-code we might want to allow in the whitelist:

[code]

Then in rethinkdb-websocket-client, one could write something

[2016-02-17 20:55] mikemintz commented on #26
@Xrampino I'm going to close this, feel free to re-open and provide additional details if you're still getting an error in the latest version.

[2016-02-17 20:55] #26 closed

[2016-02-24 22:30] mikemintz commented on #11
I was able to test on react-native for iOS on a Mac today, and found similar missing functionality in react-native's WebSocket implementation (it doesn't expose the sub-protocols information), which I just reported at https://github.com/facebook/react-native/issues/6137.

Ideally we should resolve the WebSocket issues in react-native instead of working around them here. But since they may be time

[2016-03-15 16:56] birkir opened #28 "sessionCreator reject() results in timeout on the client"
Don't know if it's a bug in react-rethindb package or the rethinkdb-websocket-client package. I'm not using bluebird.

Here's an example:
[code]

[code]

Here is the error message on the client, which seems to be thrown from the WebSocket package.
[code]

[2016-03-15 18:45] mikemintz commented on #28
I think that's like an issue with rethinkdb-websocket-server. Can you confirm that "not authorized" indeed shows up in your server logs?

[2016-03-15 19:06] mikemintz commented on #28
Yes, this was indeed missing from rethinkdb-websocket-server, thanks for reporting it @birkir. It's resolved in latest master by https://github.com/mikemintz/rethinkdb-websocket-server/commit/3664e34c3fb62287a1cc0fcaaa23ff3fff805bba

Right now I'm just sending the same error message to the browser no matter what was specified in Promise.reject, so it always says "rethinkdb-websocket-server session

[2016-03-15 23:44] birkir commented on #28
Awesome, will continue to experiment. The message did show up on the server. Great work.

[2016-03-16 14:34] birkir commented on #8
I've successfully used the mixins as decorators by using the `babel-plugin-transform-decorators-legacy` plugin.

The helper:
[code]

Usage:
[code]

Only thing needed modification in the codebase is https://github.com/mikemintz/react-rethinkdb/blob/master/src/util.js#L21 and needs to support checking for `component._isMounted` gracefully like this:

[code]

It doesn't brake the old method and shoul

[2016-03-17 18:31] birkir opened #29 "Isomorphic server and client flickering"
Do you have any example how to do a isomorphic component that doesn't re-fetch the data on the client side and cause a flicker?

You talked about using a changefeed queries in your isomorphic example, but I can't figure out how, with the current state of the mixin api, as the changes attribute only accepts a boolean flag, I can't disable the includeInitial on the client.

[2016-03-18 23:09] mikemintz commented on #29
I don't think it's possible with the current version of rethinkdb. If we do a changefeed in the client without include_initial, then any changes that happened to the result set in between when the server made the query and the client made the query will be lost.

To do this correctly, we need support for resuming previous changefeed queries, I think that's proposed in https://github.com/rethinkdb/

[2016-03-18 23:48] birkir commented on #29
Hi thanks for your time, I've solved the flickering.

But OK. I've hacked a way to pass the server fetched data to the client, so when the changefeed resume feature will be available, I can work on removing that duplicate query on client.

There doesn't seem to be any better way to do this, based on research. But next react version will may provide a better way.

[code]

And a gist for a helper: h

[2016-03-19 18:50] mikemintz commented on #29
Interesting! Thanks for posting this, that's really helpful to get isomorphic apps looking nice before we have changefeed resume.

[2016-03-19 19:19] mikemintz commented on #8
That seems pretty cool! Maybe since it seems like `isMounted()` might get deprecated anyway, we should first patch the mixin so it sets `_isMounted` in `componentDidMount` and `componentWillUnmount`, and then modify `updateComponent` to use only `_isMounted` kind of like you suggest.

Then with that in place, we can add your decorator as a mixin-alternative.

[2016-03-24 01:56] birkir opened #32 "Changefeed splices on sortBy"
Sorry about all the PR's and issues, I'm making a universal/isomorphic react starter kit, hence all the experiments.

Example query:
[code]

New items pushed to the table `turtles` will be added to the bottom of the list, not top like they should.

I don't know if it should be react-rethinkdb's responsibility to do so, or the user has to explicitly sort the list before rendering.

[2016-03-24 02:10] birkir commented on #32
OK. This is a rethinkdb bug, will investigate further.

[2016-03-24 02:10] #32 closed

[2016-03-27 02:08] birkir commented on #29
https://github.com/birkir/react-starter-kit-rdb

This is a experimental project, but will be polishing it in the near future. PR's welcome.

[2016-04-25 13:46] mattiasewers commented on #8
@mikemintz Any plans or news regarding implementing something like this anytime soon?

[2016-04-25 21:34] mikemintz commented on #8
@birkir does the decorator functionality work for you now that https://github.com/mikemintz/react-rethinkdb/pull/31 is merged? Maybe we could add your decorator code as well if you're ok with that, so that other people can use the decorator easily.

[2016-05-03 17:51] lifuzu commented on #11
+1
Just got in. I believe it is really an excited feature for react native and rethinkdb!

[2016-07-02 22:17] harlantwood commented on #8
@birkir this seems like a nice solution.  I can't quite get it to work; I get an error:

`Uncaught Error: Mixin in  does not have Session`

from this line:

`proto[key].call(this, ...args);`

Also, notice that my `component.props[name]` is null.

Can you perhaps push a full working example to a branch of your fork?  Thanks : )

[2016-07-02 22:55] harlantwood commented on #8
I duplicated the "tutorial" example in my fork, and applied your code it as I understand it:

https://github.com/harlantwood/react-rethinkdb/commit/6ee091475e0865eaaaeaf9c00bf7a21da718c87c

I get the same error in the browser console: `Uncaught Error: Mixin in does not have Session`.

Am I doing something wrong?  Or does the react-rethink codebase need further modifications?

[2016-07-03 16:32] harlantwood commented on #8
BTW, I tried up updating all dependencies (including react) to their latest versions; behavior was unchanged.

[2016-08-05 21:07] GeoffreyPlitt commented on #11
Any update? Is there a definite way to make this work in RN?

[2016-08-05 21:11] GeoffreyPlitt commented on #11
@mikemintz I'm using rethinkdb-websocket-server=0.6.0 and react-rethinkdb=0.6.0. I'm using `wsProtocols: ['base64']` in the client. Do I need to do something similar in the server?

Still getting "Buffer is not defined"

[2016-08-07 02:06] mikemintz commented on #11
@GeoffreyPlitt is this resolved by your fix in https://github.com/mikemintz/rethinkdb-websocket-client/issues/9#issuecomment-237993464 ?

[2016-08-07 22:53] GeoffreyPlitt commented on #11
No, I didn't get things working yet. I've gotten past one error, but having another.

It's not clear to me from your messages above, did anyone get this working with RN or not? Can that code be posted so I can see how this works correctly, at least in theory?

[2016-08-22 15:53] babakness commented on #11
What is the current documented issue with getting this to work with RN?

[2016-08-22 20:22] GeoffreyPlitt commented on #11
Same as OP. "Buffer is not defined". There are a handful of other global modules that browsers have but ReactNative doesn't have.

[2016-08-22 21:51] mikemintz commented on #11
Sorry I missed some of these messages.

I was able to work around "Buffer is not defined" with

[code]

[code]

Since the issues I reported to react-native regarding websocket protocols look like they still haven't been resolved, I was only able to get it to work by locally modifying both rethinkdb-websocket-client and rethinkdb-websocket-server to force base64 regardless of the protocol agreed up

[2016-08-22 21:57] mikemintz commented on #11
Other than adding hard-coding `true` in the rethinkdb-websocket-server/client code, here's some code I believe I was able to get working with android back on Feb 7:

package.json
[code]

Bottom of index.android.js
[code]

[2016-08-25 00:42] babakness commented on #11
Hey @mikemintz, thanks I'll play around with it this evening. This might be worth a look--FeatherJS   within RN. They use Socket.IO

http://docs.feathersjs.com/clients/feathers.html#usage-with-react-native

[2016-08-25 01:27] babakness commented on #11
Made the suggest change to rethinkdb-websocket-client

`npm run test`

Uncaught TypeError: "list" argument must be an Array of Buffers

[2016-08-25 01:29] mikemintz commented on #11
The unit tests for rethinkdb-websocket-client are written assuming that the backend sends binary frames, not base64. I wouldn't worry that it's not passing, the code changes are just a workaround to force base64 no matter what on both ends.

[2016-08-25 03:55] babakness commented on #11
I setup a control on the browser. It works on the browser only if i DON'T pass `wsProtocols: ['base64']`. If I do I get the same error as the unit test.

Does not work on Android. Server never sees request. No errors on console, just 'yay0' and that's it.

[2016-08-25 03:57] babakness commented on #11
Think you could create a repository to work on this and post your working code?

Thanks.

[2016-08-25 07:28] babakness commented on #11
I believe I have iOS working right now. Please share working prototype for Android. Almost there...

[2016-08-26 16:51] babakness commented on #11
Now working for me on both Android and iOS. 👍

Had a chance to play around with this project some more last night. My problem revolved around the way RN Android routes traffic.

I didn't see this documented over at React-Native anywhere but the Android implementation of React Native seems to not like 'localhost' or '127.0.0.1'.  It also works in a way that effectively ignores `/etc/hosts`

Reverse

[2016-08-26 18:42] fungilation commented on #11
Good to know on comparing with minimongo. I switched to react native now as
meteor was inadequate for mobile. Considering backend and Realm is the
forerunner so far
On Fri, Aug 26, 2016 at 9:51 AM Babak <notifications@github.com> wrote:

[2016-08-26 20:28] babakness commented on #11
@fungilation Thanks for the heads up on Realm. Seems like a great solution for local storage.

[2016-08-26 20:36] fungilation commented on #11
Ya. For centralised data store, a sync between Realm <-> Firebase would be
interesting
On Fri, Aug 26, 2016 at 1:28 PM Babak <notifications@github.com> wrote:

[2016-08-27 09:47] babakness commented on #11
Pull request in 🤖

https://github.com/mikemintz/rethinkdb-websocket-client/pull/14

This PR should be all that is needed for `base64` websocket. `rethinkdb-websocket-server` doesn't need any changes as of RN 0.32 (and perhaps previous versions). I don't believe `react-rethinkdb` would need to be patched either.

[2016-08-27 10:01] fungilation commented on #11
Nice!
On Sat, Aug 27, 2016 at 2:47 AM Babak <notifications@github.com> wrote:

[2016-09-02 23:14] GeoffreyPlitt commented on #11
Sweet! It's been a week, can we merge this?

[2016-09-02 23:15] mikemintz commented on #11
This was merged and published a week ago, so it should work on the latest version from npm.

[2016-09-02 23:15] GeoffreyPlitt commented on #11
Doh, sorry, thought this was a PR, not an issue.

[2016-09-02 23:18] mikemintz commented on #11
No worries. I think the latest library works, but you still need to use this (below) in your client code. If you get a chance to try it out too, let us know if there are any issues.

[code]

[code]

[2016-09-03 01:08] babakness commented on #11
@mikemintz On my end its not yet published on npm.

[code]

BTW, out of curiosity, how does one listen for the error being emitted via `emitter.emit('error', event);`. In React Native, interrupted connections can throw an error that trace back to this statement.

Error handling with `rethinkdb-websocket-client` should work as this:

[code]

Haven't yet tested. I'll follow up. Otherwise disconnecti

[2016-09-04 02:58] mikemintz commented on #11
@babakness good catch, I don't know why the publish didn't work for 0.5.0. I just republished as 0.5.1 and the changes should be there now.

I'm not quite sure what you're asking about the error handling. I think the `emitter.emit('error', event)` code should just be making websocket errors propagate as if they happened on the fake TCP socket. Are you saying that you think `ws` will raise an unhan

[2016-09-16 00:15] babakness commented on #11
@mikemintz quick update, in RN, console.warn gives an annoying toast when it should just be something in the debug console. Also, for catching the rejected connection

https://github.com/babakness/react-rethinkdb/blob/master/src/Session.js#L43
https://github.com/babakness/react-rethinkdb/blob/master/src/Session.js#L60

Without this, the uncaught reject can trigger the "red screen of death" in RN.

[2016-12-14 18:15] JerryGreen opened #39 "Replacing subscribed data on change"
The main essence is that I'm getting duplicates of the same objects in `this.data`. One is actual (with new values), another is not. Changed object is placed at the end of array but old object not removed.

I found this code:

[code]

In my case the returned comparison should be true but I got false coz the values was:

[code]

[code]

I have just changed `QueryState.js` to my specific case:

[cod

[2016-12-21 22:04] mikemintz commented on #39
Interesting! I agree that using `id` is better, but I had assumed that `oldVal` would always be identical to the object that was already in the list, so just left the stringify in since there's no requirement that documents have unique keys.

I diffed the two objects you outputted, and the only difference was the second object defined `last_reminder.created_at` and the first object left it undefin

[2016-12-22 09:14] JerryGreen commented on #39
@mikemintz no, at least I don't see any relevant difference. This works as expected in casual cases. But I don't know why my case is unusual.

Btw I think you can easily force people to use `id` in a new version. That's not bad.

[2016-12-22 16:14] kunaldodiya commented on #8
can someone give me working example for ES6 of this module ???

as my project is completely built in react ES6 and i am unable to use this with..

if any one has any working example of react-rethinkdb pls, provide me

[2016-12-26 09:21] kunaldodiya opened #40 "unable to access nested component"
I am trying to access a field inside a object but it is giving me an error.
my object are like, {
name: "john doe",
avatar: {
    original: 'default.png',
    thumb: 'thumb-default.png'
  }
}

here i can access name but using this.data.currentUser.value().name but can't access avatar.thumb

[2017-02-24 20:17] rafaelgilead opened #41 "WebSocket connection to 'ws: // localhost: 8015 / db' failed"
I'm testing linux centos server and this error appeared in my browser:

WebSocket connection to 'ws: // localhost: 8015 / db' failed: Error in connection establishment: net :: ERR_CONNECTION_REFUSED

Unhandled rejection ReqlDriverError: Could not connect to localhost: 8015.

I have already released ports 8080, 8015 and 28015 in my csf firewall
Could anyone help?

Note: I'm using npm install --unsa

[2017-02-24 20:20] #41 closed

[2017-02-24 20:24] rafaelgilead commented on #41
I forgot to swap localhost for my host. thanks guys.

[2017-02-24 22:05] rafaelgilead opened #42 "How to make a remote connection from my computer and my server ?"
How to make a remote connection from my computer and my server ?
Using API? how ?

[2017-02-24 22:18] #42 closed

[2017-02-28 15:12] rafaelgilead opened #43 "Chat example not works for me"
npm start

/home/chat/server/index.js:1
(function (exports, require, module, __filename, __dirname) { import { AuthManager } from './AuthManager';
                                                              ^^^^^^
SyntaxError: Unexpected token import
    at Object.exports.runInThisContext (vm.js:76:16)
    at Module._compile (module.js:542:28)
    at loader (/home/chat/node_modules/babel-registe

[2017-02-28 19:46] mikemintz commented on #43
Sometimes I get unusual errors when I upgrade node.js. Can you try `rm -rf node_modules` and try `npm install` and `npm start` again?

Here's the exact commands I run on my laptop without any problems:

[code]

If I try to match your node version, it also works:

[code]

Maybe there's something wrong with your paths? E.g. it looks a bit odd that you're running from `/home/chat` as opposed to a sub

[2017-03-02 03:56] rafaelgilead commented on #43
Hello Friend,
The above error appeared because of the import function, after npm install worked. However, the following error appears now:

`Chat server started

/home/user/public_html/chat/node_modules/rethinkdb/ast.js:1462
          throw new err.ReqlDriverCompileError("Argument " + i + " to " + (this.st || this.mt) + " may not be `undefined`.");
          ^
ReqlDriverCompileError: Argument 1 to

[2017-03-02 04:04] rafaelgilead commented on #43
I use: npm install babel-preset-es2015 --save-dev

And nothing.

/home/izzi/public_html/chat/node_modules/babel-core/lib/transformation/file/options/option-manager.js:126
      if (!option) this.log.error("Unknown option: " + alias + "." + key, ReferenceError);
                           ^

TypeError: Cannot read property 'error' of undefined
    at OptionManager.mergeOptions (/home/izzi/public_ht

[2017-03-03 19:27] mikemintz commented on #43
Have you made any changes to the chat example? If not, are the commands you're running any different from the example I gave?

[code]

[2017-03-06 00:25] rafaelgilead commented on #43
It worked now.
Another project installed in the root folder was interfering with the proper functioning.

[2017-03-06 00:25] #43 closed

[2017-10-19 07:39] eportico opened #44 "How use without React"
Hi,
I'm building a rethink server using your modules server, client and react to replace layer data in Meteor projects. I want use subscription to changefeeds and simple query, but without React. How I can use this module ? Could you give me a short example without react componet. I don't know how use Subscription Manager and QueryRequest.

thanks.

[2017-10-19 20:05] mikemintz commented on #44
Take a look at https://github.com/mikemintz/rethinkdb-websocket-client it
has an example in the README and a tutorial explaining how to use it
without react.

On Thu, Oct 19, 2017 at 12:39 AM eportico <notifications@github.com> wrote:

[2017-10-19 20:26] eportico commented on #44
Hi,
I know use with websocket client , but I want use the subscription manager and changefeed what you have developed in this respository. It's nice
Thanks

[2017-10-19 20:46] mikemintz commented on #44
I think you'd have to port it to meteor and change it to adapt to how
meteor does lifecycle

On Thu, Oct 19, 2017 at 1:26 PM eportico <notifications@github.com> wrote:

[2017-10-20 09:53] eportico commented on #44
`let options = {...};

  RethinkCLI.DefaultSession.connect(options);
  let q = new RethinkCLI.QueryRequest({
    query: r.table('sae_lines').filter(r.row('Status')('CalidadDesfase').gt(70)), // RethinkDB query
    changes: true,             // subscribe to realtime changefeed
    initial: [],               // return [] while loading
  });
  let res = new QueryResult(q.initial, q.transform);

  con

[2018-01-09 16:42] gablabelle commented on #29
@birkir How did you solve the flickering? I'm facing the same issue.

[2018-04-05 08:44] maximgatilin opened #45 "Add support of `arrayLimit`"
From docs(https://rethinkdb.com/limitations/):

But it looks like we can't specify any options to `runQuery` from `react-rethinkdb`. So please add support of these options, like we have for `run`

[2018-06-04 17:21] ivanthemeh opened #47 "Trying to get working in create-react-app"
I am trying to get this to work in a bare create-react-app Im not sure if it is a problem with the react version or what but I am getting an error ```SyntaxError: Failed to execute 'open' on 'XMLHttpRequest': Invalid URL``` Im new to react and rethinkdb, would really appreciate any help, thanks.

[2019-01-24 19:18] brcnblc opened #49 "An optional component utf-8-validate creates error during install"
During install utf-8-validate library creates several depreciation warnings and prevent bcrypt library to install correctly.

Installing bcrypt separately solves problem. But one should make further installations with --ignore-optional flag (yarn install --ignore-optional)

[2021-01-02 06:56] fangmarks opened #50 "SSR?"
Is this Module executed on the Server or on the Client?

In my case, my Rethink Database is hidden behind Wireguard, so it'd only accessible to my App when it's running something on the Server.

[2021-01-10 03:17] #50 closed, assigned to nobody